<!--Footer-->
<footer class="page-footer font-small footer pt-4">

    <!--Footer Links-->
    <div class="container-fluid text-center text-md-left">
        <div class="row">

            <!--Primera columna-->
            <div class="col-md-6">
                <h5 class="text-uppercase p-2" style="border-bottom: 1px solid rgba(255, 255, 255, 0.5); max-width: 300px;">CandyUcab</h5>
                <p class="p-2">¡Recuerda que también puedes seguirnos en nuestras redes sociales!</p>
            </div>
            <!--/.Primera columna-->

            <!--Segunda columna-->
            <div class="col-md-6">
                <h5 class="text-uppercase p-2" style="border-bottom: 1px solid rgba(255, 255, 255, 0.5); max-width: 300px;">Enlaces de ayuda:</h5>
                <ul class="list-unstyled p-2">
                    <li>
                        <a href="#!">Tienda</a>
                    </li>
                    <li>
                        <a href="#!">Contáctanos</a>
                    </li>
                    <li>
                        <a href="#!">Acerca de nosotros</a>
                    </li>
                </ul>
            </div>
            <!--/.Segunda columna-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        © 2018 - Todos los derechos reservados a sus respectivos autores.
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->
